# Keep the distributed add-on package lean: exclude repo-only docs and
# dev files from `git archive` (the release zip). Runtime code, views,
# language, README, LICENSE, and CHANGELOG still ship.
docs/            export-ignore
CONTRIBUTING.md  export-ignore
.gitignore       export-ignore
.gitattributes   export-ignore
